### 0-shot

In [1]:
import pandas as pd

df = pd.read_csv('../results/humaneval_x_correct/humaneval_x_0_shot.csv')
df

,LLM,Benchmark prompt,Execution time (s),CPU Energy (J),RAM Energy (J),GPU Energy (J),CPU Power (W),RAM Power (W),GPU Power (W),CO2 emissions (Kg),CO2 emissions rate (Kg/s),Pass@1,Pass@10,GoogleBLEU,CodeBLEU,SacreBLEU
0,codegeex4-all-9b-Q6_K_L,CPP/0,132.07357025146484,9319.03792022436,1545.8108253030741,355.49828439886966,64.91320189401563,11.705788135528564,2.637476041624509,0.0007312081985988502,5.536370351817155e-06,0.010976,0.085366,0.105386,0.221068,9.751692
1,codegeex4-all-9b-Q6_K_L,CPP/0,16.343098640441895,1072.663639130228,191.25824039274787,45.32203625755571,64.85482796696505,11.705788135528564,2.695437137491479,8.532088023935878e-05,5.220606086793577e-06,0.010976,0.085366,0.105386,0.221068,9.751692
2,codegeex4-all-9b-Q6_K_L,CPP/0,126.37296605110168,8215.33960626637,1479.0917089010586,341.4462731570644,64.89434198792591,11.705788135528564,2.5362118716635664,0.0006540186282246855,5.175304882534914e-06,0.010976,0.085366,0.105386,0.221068,9.751692
3,codegeex4-all-9b-Q6_K_L,CPP/0,126.33157348632812,8214.154793318561,1478.6074330681517,356.680285343991,64.88676015587492,11.705788135528564,2.850919318823455,0.0006549026279068284,5.183998028629821e-06,0.010976,0.085366,0.105386,0.221068,9.751692
4,codegeex4-all-9b-Q6_K_L,CPP/0,44.57881736755371,2906.1392939095745,521.7687809712556,129.6711037362286,64.91658213588411,11.705788135528564,2.838450557437949,0.00023184051755540422,5.200687933102219e-06,0.010976,0.085366,0.105386,0.221068,9.751692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39355,codegeex4-all-9b-Q6_K_L,Python/163,26.058044910430908,1711.8936545138074,304.98516773836343,70.08805606929513,64.90132586391769,11.705788135528564,2.6239824912610126,0.00013600357346905766,5.219254703740882e-06,0.700610,0.914634,0.133790,0.297576,11.988381
39356,codegeex4-all-9b-Q6_K_L,Python/163,49.64911603927612,3242.6863701470243,581.0898675376226,142.4861139891931,64.90456420402847,11.705788135528564,3.0865063455396724,0.0002584736052817892,5.2060061870450515e-06,0.700610,0.914634,0.133790,0.297576,11.988381
39357,codegeex4-all-9b-Q6_K_L,Python/163,58.18533945083618,3798.1768485390144,681.0152699461131,162.2451297951244,64.92644082974608,11.705788135528564,2.7114637209308894,0.0003024734404535524,5.198447638328689e-06,0.700610,0.914634,0.133790,0.297576,11.988381
39358,codegeex4-all-9b-Q6_K_L,Python/163,115.68827152252197,7530.247184192935,1354.0339757039576,308.407246726361,64.90432091709721,11.705788135528564,2.7155064992955116,0.0005990696287877356,5.178309096537153e-06,0.700610,0.914634,0.133790,0.297576,11.988381
39359,codegeex4-all-9b-Q6_K_L,Python/163,88.17473125457764,5746.52852221914,1032.0163652274118,259.5452076363358,64.91351178148427,11.705788135528564,3.140939236286829,0.0004586586463213669,5.2017016643592595e-06,0.700610,0.914634,0.133790,0.297576,11.988381

#### Counting entries with errors for each Language and for each LLM

In [2]:
# Criando a coluna "Language" extraindo a parte antes da barra "/" de "Benchmark prompt"
df['Language'] = df['Benchmark prompt'].str.split('/').str[0]

# Contando o nÃºmero de linhas com pelo menos uma coluna contendo "ERROR"
error_count = df[df.apply(lambda row: row.astype(str).str.contains('ERROR').any(), axis=1)]

# Agrupando por "LLM" e "Language" e contando o nÃºmero de ocorrÃªncias de "Error"
error_count_grouped = error_count.groupby(['LLM', 'Language']).size().reset_index(name='Error Count')

# Contando o total de linhas para cada valor de "LLM" no DataFrame original
llm_total_count = df.groupby(['LLM']).size().reset_index(name='Total Count')

# Mesclando o total de linhas de LLM no error_count_grouped
error_count_grouped_final = pd.merge(error_count_grouped, llm_total_count, on='LLM', how='left')

# Exibindo o resultado final
error_count_grouped_final

                                    LLM    Language  Error Count  Total Count
0         Meta-Llama-3-8B-Instruct-Q6_K          Go           74         6560
1         Meta-Llama-3-8B-Instruct-Q6_K  JavaScript           22         6560
2         Meta-Llama-3-8B-Instruct-Q6_K      Python           16         6560
3               codegeex4-all-9b-Q6_K_L          Go           11         8200
4               codegeex4-all-9b-Q6_K_L        Java           46         8200
5               codegeex4-all-9b-Q6_K_L  JavaScript            4         8200
6               codegeex4-all-9b-Q6_K_L      Python            7         8200
7          codellama-7b-instruct.Q5_K_M         CPP           19         8200
8          codellama-7b-instruct.Q5_K_M          Go            9         8200
9          codellama-7b-instruct.Q5_K_M        Java          162         8200
10         codellama-7b-instruct.Q5_K_M  JavaScript           65         8200
11         codellama-7b-instruct.Q5_K_M      Python           18         8200
12  deepseek-coder-6.7b-instruct.Q5_K_M         CPP           29         8200
13  deepseek-coder-6.7b-instruct.Q5_K_M          Go            7         8200
14  deepseek-coder-6.7b-instruct.Q5_K_M        Java           20         8200
15  deepseek-coder-6.7b-instruct.Q5_K_M  JavaScript          106         8200
16  deepseek-coder-6.7b-instruct.Q5_K_M      Python           60         8200
17          starling-lm-7b-alpha.Q5_K_S         CPP           57         8200
18          starling-lm-7b-alpha.Q5_K_S          Go          135         8200
19          starling-lm-7b-alpha.Q5_K_S        Java            6         8200
20          starling-lm-7b-alpha.Q5_K_S  JavaScript           43         8200
21          starling-lm-7b-alpha.Q5_K_S      Python           37         8200

#### Counting combinations of LLM and Benchmark prompt in the original dataframe

In [3]:
# Contando o nÃºmero de combinaÃ§Ãµes Ãºnicas de LLM e Benchmark prompt
unique_combinations_count = df[['LLM', 'Benchmark prompt']].drop_duplicates().shape[0]

# Exibindo o resultado
print(f'NÃºmero de combinaÃ§Ãµes Ãºnicas de LLM e Benchmark prompt: {unique_combinations_count}')

NÃºmero de combinaÃ§Ãµes Ãºnicas de LLM e Benchmark prompt: 3936

#### Analysing how many ERROR entries were removed in each subset LLM-Benchmark_prompt

In [4]:
import pandas as pd

# Supondo que o DataFrame jÃ¡ esteja carregado em 'df'

# Extraindo a linguagem de programaÃ§Ã£o do "Benchmark prompt"
df['Programming Language'] = df['Benchmark prompt'].str.extract(r'([A-Za-z]+)\/\d+')

# Contando o nÃºmero de linhas com pelo menos uma coluna contendo "ERROR"
error_count = df[df.apply(lambda row: row.astype(str).str.contains('ERROR').any(), axis=1)]

# Agrupando por "LLM", "Benchmark prompt" e "Programming Language" e contando o nÃºmero de ocorrÃªncias de "ERROR"
error_count_grouped = error_count.groupby(['LLM', 'Benchmark prompt', 'Programming Language']).size().reset_index(name='Error Count')

# Contando o nÃºmero total de linhas por grupo (incluindo aquelas sem "ERROR")
total_count_grouped = df.groupby(['LLM', 'Benchmark prompt', 'Programming Language']).size().reset_index(name='Total Count')

# Mesclando os dois DataFrames para incluir linhas sem "ERROR"
result = pd.merge(total_count_grouped, error_count_grouped, on=['LLM', 'Benchmark prompt', 'Programming Language'], how='left')

# Preenchendo NaN na coluna 'Error Count' com 0 (para os grupos sem "ERROR")
result['Error Count'] = result['Error Count'].fillna(0)

# Exibindo o resultado final
result

,LLM,Benchmark prompt,Programming Language,Total Count,Error Count
0,Meta-Llama-3-8B-Instruct-Q6_K,CPP/0,CPP,10,0.0
1,Meta-Llama-3-8B-Instruct-Q6_K,CPP/1,CPP,10,0.0
2,Meta-Llama-3-8B-Instruct-Q6_K,CPP/10,CPP,10,0.0
3,Meta-Llama-3-8B-Instruct-Q6_K,CPP/100,CPP,10,0.0
4,Meta-Llama-3-8B-Instruct-Q6_K,CPP/101,CPP,10,0.0
...,...,...,...,...,...
3931,starling-lm-7b-alpha.Q5_K_S,Python/95,Python,10,1.0
3932,starling-lm-7b-alpha.Q5_K_S,Python/96,Python,10,0.0
3933,starling-lm-7b-alpha.Q5_K_S,Python/97,Python,10,0.0
3934,starling-lm-7b-alpha.Q5_K_S,Python/98,Python,10,0.0
3935,starling-lm-7b-alpha.Q5_K_S,Python/99,Python,10,0.0

In [5]:
# Contando quantas entradas tÃªm 'Error Count' > 0
count_error_greater_than_zero = result[result['Error Count'] > 0].shape[0]

# Contando quantas entradas tÃªm 'Error Count' = 0
count_error_equal_to_zero = result[result['Error Count'] == 0].shape[0]

# Exibindo os resultados
print(f'Entradas com Error Count > 0: {count_error_greater_than_zero}')
print(f'Entradas com Error Count = 0: {count_error_equal_to_zero}')

Entradas com Error Count > 0: 724
Entradas com Error Count = 0: 3212

### 3-shot

In [6]:
import pandas as pd

df = pd.read_csv('../results/humaneval_x_correct/humaneval_x_3_shot.csv')
df

,LLM,Benchmark prompt,Execution time (s),CPU Energy (J),RAM Energy (J),GPU Energy (J),CPU Power (W),RAM Power (W),GPU Power (W),CO2 emissions (Kg),CO2 emissions rate (Kg/s),Pass@1,Pass@10,GoogleBLEU,CodeBLEU,SacreBLEU
0,starling-lm-7b-alpha.Q5_K_S,JavaScript/3,57.746182441711426,4459.195276353373,675.881869647259,147.1131176909779,64.96267238332469,11.705788135528564,2.4019081194965595,0.0003442300685592695,5.961087885017037e-06,0.359627,0.658385,0.233456,0.210200,24.089951
1,starling-lm-7b-alpha.Q5_K_S,JavaScript/3,12.488884687423706,823.6211698964407,146.17095776004794,31.912025530100863,65.95010668096327,11.705788135528564,2.5555449420067045,6.527911190509441e-05,5.226976910983125e-06,0.359627,0.658385,0.233456,0.210200,24.089951
2,starling-lm-7b-alpha.Q5_K_S,JavaScript/3,13.513902425765991,890.7010085602351,158.17141231053483,32.38002590375544,65.91166390113736,11.705788135528564,2.396312074512073,7.046311952098265e-05,5.214120784728744e-06,0.359627,0.658385,0.233456,0.210200,24.089951
3,starling-lm-7b-alpha.Q5_K_S,JavaScript/3,13.514434576034546,890.9469797570207,158.17631030032715,32.51702601341222,65.9272242009435,11.705788135528564,2.4063764140851203,7.048839620882797e-05,5.215785818655458e-06,0.359627,0.658385,0.233456,0.210200,24.089951
4,starling-lm-7b-alpha.Q5_K_S,JavaScript/3,13.821772575378418,910.837447669402,161.7742982480703,34.21302737036669,65.90035896402803,11.705788135528564,2.4755766414060116,7.212961831588707e-05,5.218550509532767e-06,0.359627,0.658385,0.233456,0.210200,24.089951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40245,codegeex4-all-9b-Q6_K_L,Python/163,12.90637731552124,850.5103444077566,151.06091261639847,31.454025163668575,65.90030327654142,11.705788135528564,2.437352810370094,6.732024897990955e-05,5.21604531884792e-06,0.635404,0.888199,0.290623,0.320111,31.278127
40246,codegeex4-all-9b-Q6_K_L,Python/163,10.900216102600098,722.3468118770254,127.57502644436691,27.145021715213602,66.27121307603949,11.705788135528564,2.490677949250603,5.715674186080221e-05,5.243633825495281e-06,0.635404,0.888199,0.290623,0.320111,31.278127
40247,codegeex4-all-9b-Q6_K_L,Python/163,19.85723114013672,1302.3539088822865,232.40002339965952,48.39103871212558,64.8981763680105,11.705788135528564,2.343584435787737,0.00010317047942224006,5.1956125551515196e-06,0.635404,0.888199,0.290623,0.320111,31.278127
40248,codegeex4-all-9b-Q6_K_L,Python/163,8.932607173919678,592.8057192442049,104.54398630332787,20.89001671166102,66.36669173513057,11.705788135528564,2.3390043791732635,4.680628612239393e-05,5.239935576597742e-06,0.635404,0.888199,0.290623,0.320111,31.278127
40249,codegeex4-all-9b-Q6_K_L,Python/163,6.445604562759399,431.4734841785406,75.43119456805778,14.918011932962827,66.94410159881802,11.705788135528564,2.3149833194057368,3.4006170096355125e-05,5.275869744295466e-06,0.635404,0.888199,0.290623,0.320111,31.278127

#### Counting entries with errors for each Language and for each LLM

In [7]:
# Criando a coluna "Language" extraindo a parte antes da barra "/" de "Benchmark prompt"
df['Language'] = df['Benchmark prompt'].str.split('/').str[0]

# Contando o nÃºmero de linhas com pelo menos uma coluna contendo "ERROR"
error_count = df[df.apply(lambda row: row.astype(str).str.contains('ERROR').any(), axis=1)]

# Agrupando por "LLM" e "Language" e contando o nÃºmero de ocorrÃªncias de "Error"
error_count_grouped = error_count.groupby(['LLM', 'Language']).size().reset_index(name='Error Count')

# Contando o total de linhas para cada valor de "LLM" no DataFrame original
llm_total_count = df.groupby(['LLM']).size().reset_index(name='Total Count')

# Mesclando o total de linhas de LLM no error_count_grouped
error_count_grouped_final = pd.merge(error_count_grouped, llm_total_count, on='LLM', how='left')

# Exibindo o resultado final
error_count_grouped_final

                                    LLM    Language  Error Count  Total Count
0         Meta-Llama-3-8B-Instruct-Q6_K         CPP          157         8050
1         Meta-Llama-3-8B-Instruct-Q6_K          Go           19         8050
2         Meta-Llama-3-8B-Instruct-Q6_K        Java          187         8050
3         Meta-Llama-3-8B-Instruct-Q6_K  JavaScript           55         8050
4         Meta-Llama-3-8B-Instruct-Q6_K      Python           34         8050
5               codegeex4-all-9b-Q6_K_L         CPP           13         8050
6               codegeex4-all-9b-Q6_K_L          Go           21         8050
7               codegeex4-all-9b-Q6_K_L        Java           11         8050
8               codegeex4-all-9b-Q6_K_L  JavaScript           12         8050
9          codellama-7b-instruct.Q5_K_M         CPP           12         8050
10         codellama-7b-instruct.Q5_K_M          Go           69         8050
11         codellama-7b-instruct.Q5_K_M        Java          154         8050
12         codellama-7b-instruct.Q5_K_M  JavaScript           52         8050
13         codellama-7b-instruct.Q5_K_M      Python          157         8050
14  deepseek-coder-6.7b-instruct.Q5_K_M         CPP           49         8050
15  deepseek-coder-6.7b-instruct.Q5_K_M          Go            9         8050
16  deepseek-coder-6.7b-instruct.Q5_K_M        Java           54         8050
17  deepseek-coder-6.7b-instruct.Q5_K_M  JavaScript           94         8050
18  deepseek-coder-6.7b-instruct.Q5_K_M      Python          103         8050
19          starling-lm-7b-alpha.Q5_K_S         CPP           36         8050
20          starling-lm-7b-alpha.Q5_K_S          Go          126         8050
21          starling-lm-7b-alpha.Q5_K_S        Java           11         8050
22          starling-lm-7b-alpha.Q5_K_S      Python           16         8050

#### Counting combinations of LLM and Benchmark prompt in the original dataframe

In [8]:
# Contando o nÃºmero de combinaÃ§Ãµes Ãºnicas de LLM e Benchmark prompt
unique_combinations_count = df[['LLM', 'Benchmark prompt']].drop_duplicates().shape[0]

# Exibindo o resultado
print(f'NÃºmero de combinaÃ§Ãµes Ãºnicas de LLM e Benchmark prompt: {unique_combinations_count}')

NÃºmero de combinaÃ§Ãµes Ãºnicas de LLM e Benchmark prompt: 4025

#### Analysing how many ERROR entries were removed in each subset LLM-Benchmark_prompt

In [9]:
import pandas as pd

# Supondo que o DataFrame jÃ¡ esteja carregado em 'df'

# Extraindo a linguagem de programaÃ§Ã£o do "Benchmark prompt"
df['Programming Language'] = df['Benchmark prompt'].str.extract(r'([A-Za-z]+)\/\d+')

# Contando o nÃºmero de linhas com pelo menos uma coluna contendo "ERROR"
error_count = df[df.apply(lambda row: row.astype(str).str.contains('ERROR').any(), axis=1)]

# Agrupando por "LLM", "Benchmark prompt" e "Programming Language" e contando o nÃºmero de ocorrÃªncias de "ERROR"
error_count_grouped = error_count.groupby(['LLM', 'Benchmark prompt', 'Programming Language']).size().reset_index(name='Error Count')

# Contando o nÃºmero total de linhas por grupo (incluindo aquelas sem "ERROR")
total_count_grouped = df.groupby(['LLM', 'Benchmark prompt', 'Programming Language']).size().reset_index(name='Total Count')

# Mesclando os dois DataFrames para incluir linhas sem "ERROR"
result = pd.merge(total_count_grouped, error_count_grouped, on=['LLM', 'Benchmark prompt', 'Programming Language'], how='left')

# Preenchendo NaN na coluna 'Error Count' com 0 (para os grupos sem "ERROR")
result['Error Count'] = result['Error Count'].fillna(0)

# Exibindo o resultado final
result

,LLM,Benchmark prompt,Programming Language,Total Count,Error Count
0,Meta-Llama-3-8B-Instruct-Q6_K,CPP/10,CPP,10,2.0
1,Meta-Llama-3-8B-Instruct-Q6_K,CPP/100,CPP,10,0.0
2,Meta-Llama-3-8B-Instruct-Q6_K,CPP/101,CPP,10,1.0
3,Meta-Llama-3-8B-Instruct-Q6_K,CPP/102,CPP,10,0.0
4,Meta-Llama-3-8B-Instruct-Q6_K,CPP/103,CPP,10,2.0
...,...,...,...,...,...
4020,starling-lm-7b-alpha.Q5_K_S,Python/95,Python,10,0.0
4021,starling-lm-7b-alpha.Q5_K_S,Python/96,Python,10,0.0
4022,starling-lm-7b-alpha.Q5_K_S,Python/97,Python,10,0.0
4023,starling-lm-7b-alpha.Q5_K_S,Python/98,Python,10,1.0
4024,starling-lm-7b-alpha.Q5_K_S,Python/99,Python,10,0.0

In [10]:
# Contando quantas entradas tÃªm 'Error Count' > 0
count_error_greater_than_zero = result[result['Error Count'] > 0].shape[0]

# Contando quantas entradas tÃªm 'Error Count' = 0
count_error_equal_to_zero = result[result['Error Count'] == 0].shape[0]

# Exibindo os resultados
print(f'Entradas com Error Count > 0: {count_error_greater_than_zero}')
print(f'Entradas com Error Count = 0: {count_error_equal_to_zero}')

Entradas com Error Count > 0: 1059
Entradas com Error Count = 0: 2966