In [116]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [117]:
df_humanevalx = pd.read_csv('df_table_humaneval_x.csv')
df_mbpp= pd.read_csv('df_table_mbpp.csv')
df_autocomplete= pd.read_csv('df_table_autocomplete.csv')
df_instruct= pd.read_csv('df_table_instruct.csv')
df_frr= pd.read_csv('df_table_frr.csv')
df_canary_exploit= pd.read_csv('df_table_canary_exploit.csv')

In [118]:
df_combined = pd.concat(
    [df_humanevalx, df_mbpp, df_autocomplete, df_instruct, df_frr, df_canary_exploit],
    ignore_index=True
)

In [119]:
df_combined['Bleu score'] = df_combined['Bleu score'].mean() / 100
df_combined['SacreBLEU (unsanitized)'] = df_combined['SacreBLEU (unsanitized)'].mean() / 100
df_combined['SacreBLEU (sanitized)'] = df_combined['SacreBLEU (sanitized)'].mean() / 100

In [120]:
import pandas as pd

# Listas de colunas relacionadas a cada métrica BLEU
google_bleu_columns = ['GoogleBLEU', 'GoogleBLEU (unsanitized)', 'GoogleBLEU (sanitized)']
sacre_bleu_columns = ['SacreBLEU', 'SacreBLEU (unsanitized)', 'SacreBLEU (sanitized)', 'Bleu score']
code_bleu_columns = ['CodeBLEU', 'CodeBLEU (unsanitized)', 'CodeBLEU (sanitized)']

# Calcular médias linha a linha para cada métrica e criar novas colunas "Overall"
df_combined['GoogleBLEU_Overall'] = df_combined[google_bleu_columns].mean(axis=1)
df_combined['SacreBLEU_Overall'] = df_combined[sacre_bleu_columns].mean(axis=1)
df_combined['CodeBLEU_Overall'] = df_combined[code_bleu_columns].mean(axis=1)

# Remover colunas não desejadas
df_combined.drop(columns=google_bleu_columns[1:], inplace=True)  # Remove (unsanitized) e (sanitized)
df_combined.drop(columns=sacre_bleu_columns[1:3], inplace=True)  # Remove (unsanitized) e (sanitized)
df_combined.drop(columns=code_bleu_columns[1:], inplace=True)  # Remove (unsanitized) e (sanitized)

# Calcular valores médios globais para cada métrica
google_bleu_mean = df_combined['GoogleBLEU_Overall'].mean()
sacre_bleu_mean = df_combined['SacreBLEU_Overall'].mean()
code_bleu_mean = df_combined['CodeBLEU_Overall'].mean()

# Exibir resultados
print("Média geral para GoogleBLEU_Overall:", google_bleu_mean)
print("Média geral para SacreBLEU_Overall:", sacre_bleu_mean)
print("Média geral para CodeBLEU_Overall:", code_bleu_mean)

Média geral para GoogleBLEU_Overall: 0.19373834482538368
Média geral para SacreBLEU_Overall: 0.1453014221888878
Média geral para CodeBLEU_Overall: 0.27400726597474523

In [121]:
# Supondo que df_combined já está definido e contém as colunas mencionadas
mbpp_columns = [
    'MBPP (unsanitized) pass@1',
    'MBPP+ (unsanitized) pass@1',
    'MBPP (sanitized) pass@1',
    'MBPP+ (sanitized) pass@1',
    'MBPP (unsanitized) pass@10',
    'MBPP+ (unsanitized) pass@10',
    'MBPP (sanitized) pass@10',
    'MBPP+ (sanitized) pass@10'
]

# Criar novas colunas baseadas nas médias das colunas existentes
df_combined['MBPP pass@1'] = df_combined[['MBPP (unsanitized) pass@1', 'MBPP (sanitized) pass@1']].mean(axis=1)
df_combined['MBPP pass@10'] = df_combined[['MBPP (unsanitized) pass@10', 'MBPP (sanitized) pass@10']].mean(axis=1)
df_combined['MBPP+ pass@1'] = df_combined[['MBPP+ (unsanitized) pass@1', 'MBPP+ (sanitized) pass@1']].mean(axis=1)
df_combined['MBPP+ pass@10'] = df_combined[['MBPP+ (unsanitized) pass@10', 'MBPP+ (sanitized) pass@10']].mean(axis=1)

# Remover as colunas originais se necessário
df_combined.drop(columns=mbpp_columns, inplace=True)

In [122]:
import pandas as pd

# Supondo que df_combined já esteja definido e contenha as colunas mencionadas

# Lista das colunas desejadas
desired_columns = [
    'LLM', 
    'CPU Energy (J)', 
    'Execution time (s)', 
    'Pass@1', 
    'Pass@10',
    'SacreBLEU', 
    'Pass rate', 
    'Refusal rate',
    'Score', 
    'GoogleBLEU_Overall', 
    'SacreBLEU_Overall',
    'CodeBLEU_Overall', 
    'MBPP pass@1', 
    'MBPP pass@10', 
    'MBPP+ pass@1',
    'MBPP+ pass@10'
]

# Filtrar o DataFrame para manter apenas as colunas desejadas
df_filtered = df_combined[desired_columns]
df_filtered

,LLM,CPU Energy (J),Execution time (s),Pass@1,Pass@10,SacreBLEU,Pass rate,Refusal rate,Score,GoogleBLEU_Overall,SacreBLEU_Overall,CodeBLEU_Overall,MBPP pass@1,MBPP pass@10,MBPP+ pass@1,MBPP+ pass@10
0,Meta-Llama-3-8B-Instruct-Q6_K,7704.631642,106.881498,0.02622,0.195122,1.151354e-11,NaN,NaN,NaN,0.123414,0.130032,0.256971,NaN,NaN,NaN,NaN
1,Meta-Llama-3-8B-Instruct-Q6_K,1834.297858,28.004852,0.02622,0.195122,1.151354e-11,NaN,NaN,NaN,0.123414,0.130032,0.256971,NaN,NaN,NaN,NaN
2,Meta-Llama-3-8B-Instruct-Q6_K,1104.055857,16.804415,0.02622,0.195122,1.151354e-11,NaN,NaN,NaN,0.123414,0.130032,0.256971,NaN,NaN,NaN,NaN
3,Meta-Llama-3-8B-Instruct-Q6_K,2519.309653,38.629056,0.02622,0.195122,1.151354e-11,NaN,NaN,NaN,0.123414,0.130032,0.256971,NaN,NaN,NaN,NaN
4,Meta-Llama-3-8B-Instruct-Q6_K,1040.147644,15.831307,0.02622,0.195122,1.151354e-11,NaN,NaN,NaN,0.123414,0.130032,0.256971,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99425,starling-lm-7b-alpha.Q5_K_S,8334.924479,127.573902,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.173376,NaN,NaN,NaN,NaN,NaN
99426,starling-lm-7b-alpha.Q5_K_S,8544.491798,130.801302,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.173376,NaN,NaN,NaN,NaN,NaN
99427,starling-lm-7b-alpha.Q5_K_S,8339.712617,127.644675,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.173376,NaN,NaN,NaN,NaN,NaN
99428,starling-lm-7b-alpha.Q5_K_S,8543.180521,130.781734,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.173376,NaN,NaN,NaN,NaN,NaN
99429,starling-lm-7b-alpha.Q5_K_S,8334.957682,127.570890,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.173376,NaN,NaN,NaN,NaN,NaN

In [123]:
df_filtered = df_filtered.groupby(['LLM'], as_index=False).mean()
df_filtered

,LLM,CPU Energy (J),Execution time (s),Pass@1,Pass@10,SacreBLEU,Pass rate,Refusal rate,Score,GoogleBLEU_Overall,SacreBLEU_Overall,CodeBLEU_Overall,MBPP pass@1,MBPP pass@10,MBPP+ pass@1,MBPP+ pass@10
0,Meta-Llama-3-8B-Instruct-Q6_K,2944.924822,44.776255,0.257592,0.461788,0.000012,59.256329,0.0,0.033898,0.172605,0.145233,0.289260,0.541005,0.806899,0.452700,0.702828
1,codegeex4-all-9b-Q6_K_L,2178.264126,33.188506,0.291720,0.492555,0.000012,60.963964,0.0,0.004167,0.206642,0.144888,0.274979,0.139065,0.301259,0.107843,0.247908
2,codellama-7b-instruct.Q5_K_M,1489.701211,22.428713,0.203939,0.442621,0.000015,58.983036,0.0,0.000000,0.195133,0.145307,0.248517,0.332660,0.707710,0.279710,0.609483
3,deepseek-coder-6.7b-instruct.Q5_K_M,2643.431481,40.305365,0.369573,0.577554,0.000016,67.204918,0.0,0.000000,0.202029,0.145751,0.281249,0.273582,0.546135,0.227865,0.469898
4,starling-lm-7b-alpha.Q5_K_S,3271.559744,49.901539,0.238777,0.527609,0.000014,70.681034,0.0,0.000000,0.192496,0.145338,0.275918,0.327452,0.706674,0.275578,0.608674

In [126]:
import pandas as pd

# Agrupa por LLM e calcula a média das métricas relevantes
df_avg_metrics = df_filtered.groupby('LLM', as_index=False).agg({
    'CPU Energy (J)': 'mean',
    'Execution time (s)': 'mean',
    'Pass@1': 'mean',
    'Pass@10': 'mean',
    'Pass rate': 'mean',
    'Refusal rate': 'mean',
    'Score': 'mean',
    'GoogleBLEU_Overall': 'mean',
    'SacreBLEU_Overall': 'mean',
    'CodeBLEU_Overall': 'mean',
    'MBPP pass@1': 'mean',
    'MBPP pass@10': 'mean',
    'MBPP+ pass@1': 'mean',
    'MBPP+ pass@10': 'mean'
})

# Ordena o DataFrame pela coluna 'CPU Energy (J)' em ordem crescente para o ranking de consumo de energia
df_ranked = df_avg_metrics.sort_values(by='CPU Energy (J)').reset_index(drop=True)

# Adiciona uma coluna de ranking com base na CPU Energy
df_ranked['Rank'] = range(1, len(df_ranked) + 1)

# Define o consumo de energia e o tempo de execução da primeira LLM como referência
first_energy = df_ranked['CPU Energy (J)'].iloc[0]
first_time = df_ranked['Execution time (s)'].iloc[0]

# Calcula as razões em relação ao primeiro lugar
df_ranked['Energy Ratio (compared to 1st)'] = df_ranked['CPU Energy (J)'] / first_energy
df_ranked['Time Ratio (compared to 1st)'] = df_ranked['Execution time (s)'] / first_time

# Reorganiza as colunas para melhor visualização
df_ranked = df_ranked[['Rank', 'LLM', 
                       'Energy Ratio (compared to 1st)', 'Time Ratio (compared to 1st)', 
                       'CPU Energy (J)', 'Execution time (s)', 
                       'Pass@1', 'Pass@10',
                       'Pass rate', 'Refusal rate', 'Score', 
                       'GoogleBLEU_Overall', 'SacreBLEU_Overall', 
                       'CodeBLEU_Overall', 'MBPP pass@1', 
                       'MBPP pass@10', 'MBPP+ pass@1', 'MBPP+ pass@10']]

# Renomeia as colunas conforme desejado
df_ranked.rename(columns={
    'CPU Energy (J)': 'CPU Energy (J)',
    'Execution time (s)': 'Execution Time (s)',
    'Pass@1': 'HumanEval-X pass@1',
    'Pass@10': 'HumanEval-X pass@10',
    'Pass rate': 'Pass Rate',
    'Refusal rate': 'Refusal Rate',
    'Score': 'Score',
    'GoogleBLEU_Overall': 'GoogleBLEU',
    'SacreBLEU_Overall': 'SacreBLEU',
    'CodeBLEU_Overall': 'CodeBLEU',
    'MBPP pass@1': 'MBPP pass@1',
    'MBPP pass@10': 'MBPP pass@10',
    'MBPP+ pass@1': 'MBPP+ pass@1',
    'MBPP+ pass@10': 'MBPP+ pass@10'
}, inplace=True)

# Exibe o ranking final
df_ranked.style.hide_index()

/tmp/ipykernel_17471/1032141379.py:64: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  df_ranked.style.hide_index()